body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
    color: #ffffff;
}

.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #000000;
}

header .column{
    display: flex;
    align-items: center;
}

header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

header h2 {
    font-size: 1.6rem;
}

.volume-slider input{
    accent-color: #fff;
}

.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before{
    content: "";
    height: 25px;
    width: 25px;
    background-color: #8c8c8c;
    border-radius: inherit;
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked:before{
    left: 2rem;
    background-color: #8c8c8c;
}

.piano-keys{
    display: flex;
    margin-top: 40px;
}